Dockerfile
.helmignore
.dockerignore
.git*
.git/
OWNER*
README.md
jenkins*
target/*
charts/*
.github/cloudopsworks-ci.yaml
skafold*
gulpfile*
# misc
.DS_Store
Makefile*
*.log
*.log.*


# IntelliJ idea
.idea/
*.iml

# Eclipse JDT
.project
.settings/
.classpath
.factorypath

### VS Code ###
.vscode/

### Tronador ###
tronador/
.tronador

### Node ,envs ###
.env*

### Do Not Ignores ###
!node_modules/
!package-lock.json
!yarn.lock
!.npmrc